/target

.vs/

*.exe
*.ilk
*.obj
*.pdb


data-3.6.0.xml

simd_gen_test.cpp
simd_gen_test.min.cpp
simd_gen_min_test.cpp


fuzz_issues/compiler_crashes/*
fuzz_issues/compiler_timeouts/*
fuzz_issues/runtime_diffs/*
tmp/*
!**/.gitkeep